
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	//gap: 10px;   
	flex-wrap:wrap;
	 
	 
}
.item1{
	height:100px;
	width:100px;
	background-color:green;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.item2{
	height:100px;
	width:100px;
	background-color:red;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.item3{
	height:100px;
	width:100px;
	background-color:blue;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}